<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="#">YES  BANK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">ABOUT US <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">WORK WITH US</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">BANK WITH US</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">LOCATE US</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">CONTACT US</a>
          </li>
         
          
        
       
      </ul>
      
    </div>
  </nav>
  
  <div  >
      
       <img src="download.jpg" width="100%" height="85%"> 
  </div>
  <div class="jumbotron">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
  
    <form [formGroup]="loginForm" >
        <strong><span>WELCOME TO YES BANK</span></strong>
        <br>
        <br>
        <br>
        <div class="form-group">
          <label for="acno">Account NO:</label>
          <input formControlName="acno" type="text" name="acno" class="form-control" id="acno" aria-describedby="acno">
          <!-- {{acno}} //string interpolation =>if we want to show the data in ts file to html (view in the browser)ie, when we ype acno that will appear on browser -->
          <div  *ngIf="getError('acno')" class="error">Account number is inavalid

          </div>
       </div>
        <div class="form-group">
          <label for="pwd">Password</label>
          <input formControlName="pwd" type="password" name="paswd" class="form-control" id="pwd">
          <div  *ngIf="getError('pwd')" class="error">password is inavalid

          </div>
        </div>
        
        <button type="button" class="btn btn-primary" (click)="login()">Login</button>
        <a routerLink="register">Register</a>
      </form>
    </div>
  </div>
    <div class="col-4"></div>
    </div>
    <div style="background-color: rgb(52, 52, 238);">
   
  Support
  Nodal OfficerGrievance RedressalComplaintsForensic Auditor EmpanelmentCustomer AppreciationSteps to report an unauthorized transactionLoss of CardDo Not Call RegistryAuction NoticesForm CentreProcurementInvestor Relations
  Products & Services
  Digital Salary AccountDigital Savings AccountSavings AccountCurrent AccountFixed DepositsRecurring DepositsNRI Savings AccountNRE Savings AccountYES FirstYES PremiaOnline BankingNetBanking ServicesCredit CardDebit CardCorporate LoansCommercial Vehicle LoanConstruction Equipment LoanHome LoanAffordable loanPersonal LoanLoan in SecondsBike LoanCar LoanGold LoanLoan Against PropertyBusiness LoanCredit Card Bill PaymentServices for Senior Citizens & Customers with DisabilitiesAadhaar Enrolment FacilityTransaction-zoneContact-UsLocate-UsYes App StoreSitemapIFSC CodeMoney MattersFAQsLife MattersRates and ChargesRegulatory Disclosures SectionRegulatory PoliciesWhistle Blower PolicySecure BankingYES BANK Stock Price
  FBTwitYTLNINCopyright
  © 2018-2019 YES BANK. All rights reserved.
  </div>

